{% extends 'website/base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <span class="{{ message.tags }}">
                        {{ message }}
                    </span>
                {% endfor %}
            </div>
        {% endif %}

    <h1>Sign Up</h1>
        <!-- The action attribute should be set to the
        URL-pattern of the view that will handle the form submission. -->
    <form method="POST" action="{% url 'Account:signup' %}">
            {% csrf_token %}
        <form>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="email" id="form3Example3" class="form-control" name="email" required/>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" id="form3Example4" class="form-control" name="password" required/>
            </div>

            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>or sign up with:</p>

                <button data-mdb-ripple-init type="button" class="btn btn-dark btn-floating mx-1">
                    <i class="fab fa-google"></i>
                </button>

                <button data-mdb-ripple-init type="button" class="btn btn-dark btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
</div>

<style>

    /* Set Montserrat as the default font for the entire document */
    body, p, h1, h2, h3, h4, h5, h6, span, div, a, li, ul, ol, button, input, select, textarea {
    font-family: 'Montserrat', sans-serif;
    }

    /* Style for messages */
    .messages-container {
        text-align: center;
        /*background-color: #f9f9f9;*/
        /*color: #333;*/
        padding: 10px;
        font-size: 16px; /* Adjust the font size as needed */
    }
    .error {
        color: red;
    }
    .success {
        color: green;
    }
    .warning {
        color: orange;
    }
</style>

<!-- hide message 3 seconds after display -->
<script>
    function hideMessages() {
        const messages = document.querySelectorAll('.messages-container');
        messages.forEach(function(message) {
            setTimeout(function() {
                message.style.display = 'none';
            }, 3000); // Hide after 3 seconds
        });
    }
    window.onload = function() {
        hideMessages();
    };
</script>

{% endblock %}
