{% extends 'website/base.html' %}

{% block content %}

<!-- {% if user.is_authenticated %}

<script>
  window.location.href = "{% url 'home' %}"; // Redirect to the 'home' URL
</script>

{% else %} -->

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>

    <form method="POST" action="{% url 'Account:login' %}">
        {% csrf_token %}

        <form>
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="email" id="form2Example1" class="form-control" name="email" required/>
            </div>

            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-4">
              <input type="password" id="form2Example2" class="form-control" name="password" required/>
            </div>

            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
              <div class="col d-flex justify-content-center">
              </div>

              <div class="col">
                <!-- Simple link -->
                <a href="#!">Forgot password?</a>
              </div>
            </div>

            <!-- Submit button -->
            <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            <!-- Register buttons -->
            <div class="text-center">
              <p>Not a member? <a href="#!">Register</a></p>
              <p>or sign up with:</p>
              <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-google"></i>
              </button>

              <button  data-mdb-ripple-init type="button" class="btn btn-secondary btn-floating mx-1">
                <i class="fab fa-github"></i>
              </button>
            </div>
          </form>

    </form>
</div>

<!-- {% endif %} -->

{% endblock %}